<div class="flex flex-col gap-y-5 p-6">

  <!-- Header -->
  <div class="border-b pb-3 flex justify-between">
    <div class="flex gap-x-2 items-center">
      <app-svg-icon
        appLocationBack
        [iconName]="'arrow-left-1'"
        className="h-6 w-6 text-[#38AA3D] group-hover:text-green-500 cursor-pointer transition-colors"
      ></app-svg-icon>

      <div>
        <h2 class="text-2xl font-bold text-gray-800">
          Информация о компании
        </h2>
        <p class="text-gray-500">Детальные данные организации</p>
      </div>
    </div>

    <!-- Header Buttons -->
    <div class="flex justify-end items-center gap-x-2.5">
      <button
        [routerLink]="['/companies', 'add']"
        [queryParams]="{ id }"
        class="px-4 py-2 text-sm font-medium text-white bg-blue-400 rounded-md hover:bg-blue-700 focus:outline-none"
      >
        Редактировать
      </button>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div>
      <p class="text-sm font-medium text-gray-500">Название компании</p>
      <p class="text-gray-800">{{organization?.name}}</p>
    </div>

    <div>
      <p class="text-sm font-medium text-gray-500">Телефон</p>
      <p class="text-gray-800">{{organization?.phoneNumber}}</p>
    </div>

    <div>
      <p class="text-sm font-medium text-gray-500">ПОЧТА</p>
      <p class="text-gray-800">{{organization?.email}}</p>
    </div>

    <!-- Address -->
    <div>
      <p class="text-sm font-medium text-gray-500">Адрес</p>
      <p class="text-gray-800">{{organization?.address}}</p>
    </div>
  </div>

  @if(id) {
    <app-companies-users
      [company]="organization"
      [companyId]="id"
      class="pt-5 border-t"
    ></app-companies-users>
  }
</div>
