<div class="flex flex-col gap-y-5 p-6">

  <!-- Header -->
  <div class="border-b pb-3 flex justify-between">
    <div class="flex gap-x-2 items-center">
      <app-svg-icon
        appLocationBack
        [iconName]="'arrow-left-1'"
        className="h-6 w-6 text-[#38AA3D] group-hover:text-green-500 cursor-pointer transition-colors"
      ></app-svg-icon>

      <div>
        <h2 class="text-2xl font-bold text-gray-800">
          Информация о компании <span>({{ organization?.type === 'distributor' ? 'дистрибьютор' : 'дилер' }})</span>
        </h2>
        <p class="text-gray-500">Детальные данные организации</p>
      </div>
    </div>

    <!-- Header Buttons -->
    <div class="flex justify-end items-center gap-x-2.5">
      <button
        [routerLink]="['/companies', 'add']"
        [queryParams]="{ id }"
        class="px-4 py-2 text-sm font-medium text-white bg-blue-600 rounded-md hover:bg-blue-700 focus:outline-none"
      >
        Редактировать
      </button>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

    <div class="space-y-4">
      <div>
        <p class="text-sm font-medium text-gray-500">Название компании</p>
        <p class="text-gray-800">{{organization?.name}}</p>
      </div>

      <div>
        <p class="text-sm font-medium text-gray-500">ИНН</p>
        <p class="text-gray-800">{{organization?.inn}}</p>
      </div>

      <div>
        <p class="text-sm font-medium text-gray-500">ПИНФЛ</p>
        <p class="text-gray-800">{{organization?.pinfl}}</p>
      </div>

      <!-- Address -->
      <div>
        <p class="text-sm font-medium text-gray-500">Адрес</p>
        <p class="text-gray-800">{{organization?.address}}</p>
      </div>
    </div>

    <!-- Column 2 -->
    <div class="space-y-4">
      <div>
        <p class="text-sm font-medium text-gray-500">Тип организации</p>
        <p class="text-gray-800">{{organization?.type === 'distributor' ? 'дистрибьютор' : 'дилер'}}</p>
      </div>

      <div>
        <p class="text-sm font-medium text-gray-500">Код НИББД</p>
        <p class="text-gray-800">{{organization?.nibbd}}</p>
      </div>

      <div>
        <p class="text-sm font-medium text-gray-500">Дата создания</p>
        <p class="text-gray-800">{{organization?.created_at | date:'dd.MM.yyyy HH:mm'}}</p>
      </div>

      <div>
        <p class="text-sm font-medium text-gray-500">Дата обновления</p>
        <p class="text-gray-800">{{organization?.updated_at | date:'dd.MM.yyyy HH:mm'}}</p>
      </div>
    </div>
  </div>

  <!-- Company Info -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <!-- Column 1 -->
    <div class="space-y-4">
      <div>
        <p class="text-sm font-medium text-gray-500">Код юридического лица</p>
        <p class="text-gray-800">{{company?.codeJuridicalPerson}}</p>
      </div>

      <div>
        <p class="text-sm font-medium text-gray-500">ID клиента</p>
        <p class="text-gray-800">{{company?.clientUid}}</p>
      </div>

      <div>
        <p class="text-sm font-medium text-gray-500">Номер регистрационного документа</p>
        <p class="text-gray-800">{{company?.registrationDocumentNumber}}</p>
      </div>

      <div>
        <p class="text-sm font-medium text-gray-500">Внешний ID</p>
        <p class="text-gray-800">{{organization?.ext_org_id || '-'}}</p>
      </div>
    </div>

    <!-- Column 2 -->
    <div class="space-y-4">
      <div>
        <p class="text-sm font-medium text-gray-500">Филиал</p>
        <p class="text-gray-800">{{company?.filialCode}}</p>
      </div>

      <div>
        <p class="text-sm font-medium text-gray-500">Основной счет</p>
        <p class="text-gray-800">{{company?.mainAccount}}</p>
      </div>

      <div>
        <p class="text-sm font-medium text-gray-500">Дата регистрации</p>
        <p class="text-gray-800">{{company?.registrationDate}}</p>
      </div>
    </div>
  </div>

  <!-- Director Info -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 pt-4 border-t">
    <div>
      <p class="text-sm font-medium text-gray-500">Директор</p>
      <p class="text-gray-800">{{company?.directorName}}</p>
    </div>
    <div>
      <p class="text-sm font-medium text-gray-500">Паспорт директора</p>
      <p class="text-gray-800">{{company?.directorPassport}}</p>
    </div>
  </div>

  <!-- Contact Info -->
  <div class="pt-4">
    <p class="text-sm font-medium text-gray-500">Контактный телефон директора</p>
    <p class="text-gray-800">{{company?.mobilePhone}}</p>
  </div>


  @for(accounter of company?.chiefAccounters; track $index) {
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 pt-4">
      <div>
        <p class="text-sm font-medium text-gray-500">Бухгалтер</p>
        <p class="text-gray-800">{{ accounter?.surname }} {{ accounter?.firstName }} {{ accounter?.patronymic }}</p>
      </div>

      <div>
        <p class="text-sm font-medium text-gray-500">Паспорт бухгалтера</p>
        <p class="text-gray-800">{{ accounter?.docSerial }}{{ accounter?.docNumber }}</p>
      </div>
    </div>
  }

  @if(id) {
    <app-companies-users
      [companyId]="id"
      class="pt-5 border-t"
    ></app-companies-users>
  }
</div>
