<div class="flex gap-x-[30px] items-center h-full text-gray-900">
  <div class="flex flex-col">
    <div class="h-[24px] font-[600] leading-6">
      @if(userDetail) {
        <span>
          @if(userDetail.companyUserResponse) {
            <span>{{ userDetail.companyUserResponse.company.name + ' - ' }}</span>
          }
          @if(userDetail.userResponse) {
            {{ userDetail.userResponse.firstName }} {{ userDetail.userResponse.lastName }}
          }
        </span>
      }
    </div>
  </div>

  <lucide-icon
    [routerLink]="['/logout']"
    [className]="'h-6 w-6 text-gray-800 hover:text-gray-500 cursor-pointer transition-colors'"
    name="log-out"
  ></lucide-icon>
</div>
