/* SF Pro Display Thin */
@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 100;
  src: url('./SF-Pro-Display-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: italic;
  font-weight: 100;
  src: url('./SF-Pro-Display-ThinItalic.otf') format('opentype');
}

/* SF Pro Display Ultralight */
@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 200;
  src: url('./SF-Pro-Display-Ultralight.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: italic;
  font-weight: 200;
  src: url('./SF-Pro-Display-UltralightItalic.otf') format('opentype');
}

/* SF Pro Display Light */
@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 300;
  src: url('./SF-Pro-Display-Light.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: italic;
  font-weight: 300;
  src: url('./SF-Pro-Display-LightItalic.otf') format('opentype');
}

/* SF Pro Display Regular */
@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  src: url('./SF-Pro-Display-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: italic;
  font-weight: 400;
  src: url('./SF-Pro-Display-RegularItalic.otf') format('opentype');
}

/* SF Pro Display Medium */
@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 500;
  src: url('./SF-Pro-Display-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: italic;
  font-weight: 500;
  src: url('./SF-Pro-Display-MediumItalic.otf') format('opentype');
}

/* SF Pro Display Semibold */
@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 600;
  src: url('./SF-Pro-Display-Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: italic;
  font-weight: 600;
  src: url('./SF-Pro-Display-SemiboldItalic.otf') format('opentype');
}

/* SF Pro Display Bold */
@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  src: url('./SF-Pro-Display-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: italic;
  font-weight: 700;
  src: url('./SF-Pro-Display-BoldItalic.otf') format('opentype');
}

/* SF Pro Display Black */
@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 800;
  src: url('./SF-Pro-Display-Black.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: italic;
  font-weight: 800;
  src: url('./SF-Pro-Display-BlackItalic.otf') format('opentype');
}

/* SF Pro Display Heavy */
@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 900;
  src: url('./SF-Pro-Display-Heavy.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: italic;
  font-weight: 900;
  src: url('./SF-Pro-Display-HeavyItalic.otf') format('opentype');
}
