<div class="min-h-screen bg-white flex flex-col p-4">
  <app-header class="shadow-md border border-gray-100"></app-header>
  <div class="relative flex flex-1 gap-4 mt-4">
    <app-menu
      class="sticky shadow-2xl border border-gray-100"
    ></app-menu>

    <main
      class="flex-1 min-w-0 border border-gray-100 shadow-2xl p-6 "
      [ngStyle]="{ 'background': routeData?.background || '#ffffff' }"
      [ngClass]="{
      'border border-gray-100': !routeData?.excludeBorder,
      'shadow-2xl': !routeData?.excludeShadow,
      }"
    >
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
