<div>
  <!-- Header -->
  <div class="mb-6">
    <h2 class="text-2xl font-bold mb-1">Создание нового пользователя для {{ orgDetail?.name }}</h2>
    <p class="text-gray-600">Заполните все необходимые поля</p>
  </div>

  <!-- Form -->
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <!-- Column 1 -->

    <!-- Full Name -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>ФИО</mat-label>
      <input matInput formControlName="firstName" required>
      <mat-error *ngIf="f['firstName'].hasError('required')">
        Обязательное поле
      </mat-error>
      <mat-error *ngIf="f['firstName'].hasError('maxlength')">
        Максимум 100 символов
      </mat-error>
    </mat-form-field>

    <!-- Phone -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Телефон</mat-label>
      <input matInput formControlName="phoneNumber" required maxlength="12">
      <mat-error *ngIf="f['phoneNumber'].hasError('required')">
        Обязательное поле
      </mat-error>
      <mat-error *ngIf="f['phoneNumber'].hasError('pattern')">
        Введите корректный номер телефона
      </mat-error>
    </mat-form-field>


    <!-- Password -->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Пароль</mat-label>
      <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'" required>
      <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
        <lucide-icon
          class="text-[#1A1B1F]"
          [name]="hidePassword ? 'eye' : 'eye-off'"
        ></lucide-icon>
      </button>
      <mat-error *ngIf="f['password'].hasError('required')">
        Обязательное поле
      </mat-error>
      <mat-error *ngIf="f['password'].hasError('minlength')">
        Минимум 8 символов
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Компания</mat-label>
      <mat-select formControlName="companyId">
        @for(org of organizations; track $index) {
          <mat-select [value]="org.id">{{ org.name }}</mat-select>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Роль</mat-label>
      <mat-select formControlName="role">
        @for(role of roleGroup; track $index) {
          <mat-select [value]="role">{{ role }}</mat-select>
        }
      </mat-select>
    </mat-form-field>

    <!-- Form Actions -->
    <div class="flex justify-end gap-3 pt-4 md:col-span-2">
      <button
        type="button"
        appLocationBack
        class="px-4 py-2 text-sm font-medium text-white bg-gray-500 rounded-md hover:bg-gray-700 focus:outline-none"
      >
        Отмена
      </button>

      <button
        type="submit"
        [disabled]="userForm.invalid"
        class="px-4 py-2 text-sm font-medium text-white bg-green-600 rounded-md hover:bg-green-700 focus:outline-none"
      >
        Создать пользователя
      </button>
    </div>
  </form>
</div>
